In [3]:
import pandas as pd

# Function to read specific rows from a CSV file and add activity and subject columns
def read_specific_rows(file_path, activity, subject):
    df = pd.read_csv(file_path, skiprows=range(1, 201), nrows=500)
    df['Activity'] = activity
    df['Subject'] = subject
    return df

# Define activities and subjects
activities = {
    1: 'Sleeping',
    2: 'Sitting',
    3: 'Standing',
    4: 'Walking',
    5: 'Walking downstairs',
    6: 'Walking upstairs'
}

subjects = ['A', 'B', 'C']

# Define file paths and corresponding activities and subjects
files = [
    (r"C:/Recorded Data/Sleep_1.csv", 1, 'A'),
    (r"C:/Recorded Data/Sleep_2.csv", 1, 'B'),
    (r"C:/Recorded Data/Sleep_3.csv", 1, 'C'),
    (r"C:/Recorded Data/S_1.csv", 2, 'A'),
    (r"C:/Recorded Data/S_2.csv", 2, 'B'),
    (r"C:/Recorded Data/S_3.csv", 2, 'C'),
    (r"C:/Recorded Data/St_1.csv", 3, 'A'),
    (r"C:/Recorded Data/St_2.csv", 3, 'B'),
    (r"C:/Recorded Data/St_3.csv", 3, 'C'),
    (r"C:/Recorded Data/W1.csv", 4, 'A'),
    (r"C:/Recorded Data/W2.csv", 4, 'B'),
    (r"C:/Recorded Data/W3.csv", 4, 'C'),
    (r"C:/Recorded Data/WD_1.csv", 5, 'A'),
    (r"C:/Recorded Data/WD_2.csv", 5, 'B'),
    (r"C:/Recorded Data/WD_3.csv", 5, 'C'),
    (r"C:/Recorded Data/WU_1.csv", 6, 'A'),
    (r"C:/Recorded Data/WU_2.csv", 6, 'B'),
    (r"C:/Recorded Data/WU_3.csv", 6, 'C')
]

# Read and combine all data
all_data = pd.concat([read_specific_rows(file, activities[activity], subject) for file, activity, subject in files])

# Save combined data to a CSV file
all_data.to_csv(r"C:/Recorded Data/Combined_Activities.csv", index=False)
all_data

,time,ax (m/s^2),ay (m/s^2),az (m/s^2),aT (m/s^2),Activity,Subject,gFx,gFy,gFz,TgF
0,0.994777,0.0102,0.0025,-0.0830,0.084,Sleeping,A,NaN,NaN,NaN,NaN
1,0.999116,0.0288,0.0004,-0.0966,0.101,Sleeping,A,NaN,NaN,NaN,NaN
2,1.004576,0.0285,-0.0064,-0.1053,0.109,Sleeping,A,NaN,NaN,NaN,NaN
3,1.008657,0.0330,-0.0180,-0.1045,0.111,Sleeping,A,NaN,NaN,NaN,NaN
4,1.013327,0.0424,-0.0055,-0.0989,0.108,Sleeping,A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
495,3.464693,-0.2104,0.1315,-0.0888,0.264,Walking upstairs,C,NaN,NaN,NaN,NaN
496,3.469893,-0.1981,0.1704,-0.0565,0.267,Walking upstairs,C,NaN,NaN,NaN,NaN
497,3.475270,-0.2185,0.2098,-0.0386,0.305,Walking upstairs,C,NaN,NaN,NaN,NaN
498,3.478795,-0.2476,0.2591,-0.0161,0.359,Walking upstairs,C,NaN,NaN,NaN,NaN
499,3.483779,-0.2856,0.2991,0.0207,0.414,Walking upstairs,C,NaN,NaN,NaN,NaN

In [4]:
all_data.drop( columns=[ 'time','gFx',	'gFy' ,	'gFz' ,	'TgF', 'aT (m/s^2)'])

     ax (m/s^2)  ay (m/s^2)  az (m/s^2)          Activity Subject
0        0.0102      0.0025     -0.0830          Sleeping       A
1        0.0288      0.0004     -0.0966          Sleeping       A
2        0.0285     -0.0064     -0.1053          Sleeping       A
3        0.0330     -0.0180     -0.1045          Sleeping       A
4        0.0424     -0.0055     -0.0989          Sleeping       A
..          ...         ...         ...               ...     ...
495     -0.2104      0.1315     -0.0888  Walking upstairs       C
496     -0.1981      0.1704     -0.0565  Walking upstairs       C
497     -0.2185      0.2098     -0.0386  Walking upstairs       C
498     -0.2476      0.2591     -0.0161  Walking upstairs       C
499     -0.2856      0.2991      0.0207  Walking upstairs       C

[9000 rows x 5 columns]